/* Elements Selectors */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', arial, sans-serif;
}

/* Class Selectors */
.header {
    position: relative;
    background-color: rgb(0, 50, 95);
    width: 100%;
    height: 30%;
}
.header .header-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
    top: 25%;
}
.header .nav-bar {
    position: absolute;
    display: flex;
    background-color: rgb(116, 118, 120);
    width: 100%;
    height: 15%;
    padding: 0;
    margin: 0;
    bottom: 0;
}
.header .nav-bar .nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 1em;
}
.header .nav-bar .nav-item:hover {
    background-color: rgb(0, 95, 75);
}
.header .nav-bar .active {
    background-color: rgb(95, 95, 95);
}
.page {
    background-color: white;
    width: 100%;
    height: auto;
}

/* ID Selectors */
#app {
    width: 100%;
    height: 100%;
}